{% extends 'base.html' %}

{% block content %}
<h2>Add Vote</h2>

<form method="POST">
    <input type="text" name="voter_name" placeholder="Voter Name" class="form-control mb-2">

    <input type="text" name="voter_id" placeholder="Voter ID" class="form-control mb-2">

    <input type="text" name="candidate" placeholder="Candidate Name" class="form-control mb-2">

    <input type="text" name="city" placeholder="City" class="form-control mb-2">

    <button type="submit" class="btn btn-primary">
        Submit Vote
    </button>
</form>
{% endblock %}